page-dashboard {
.bg-dark {
    background-color: white !important;
}
.bg-light {
    background-color: white !important;
}
.ccc {
    color: darkgray;
    font-weight: 600;
    font-style: italic;
}
.evh {
    padding: 9px;
    font-weight: 500;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    word-spacing: 2px;
    font-size: 135%;

}
}
