page-home {
.logoh {
    width: 70%;
    height: auto;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
ion-input{
    border-bottom: 1px solid blue ;
    
}
.login-button{
    
    height:45px !important;
    padding:10px;
    font-size:24px !important;
}

.bdr {
    border: 1px solid grey !important;
}
}