page-eventdetail {
p {
    width: 90% !important;
}
ion-card {
    width: 97% !important;
}
#h-1 {
    background-color: blue;
}
#h-2 {
    background-color: red;
}
#h-3 {
background-color: black;
    }
ion-card-title {
    color: white;
}
.eimg, ion-slide {
    height: 190px !important;
    width: 100% !important;
}
.label-text{
    display: block;
    width:100%;
    height:auto;
}
.ifr {
    width: 100%;
    height: 150px;
}
.ag-button {
    font-size: 0.8em !important;
    font-weight: 600 !important;
    padding: 11px !important;
    color: black !important;
    border: 1px solid lightgray;
    z-index: 999 !important;
}
.bgh {
   background-color: #3b65c4;
   color: white; 
   padding: 5px;
}
.login-button{
    
    height: 35px !important;
    padding: 10px;
    font-size: 16px !important;
}
.ifab {
    z-index: 899 !important;
}
.ag-button :hover, .ag-button :active, .ag-button :visited {
    border:1px solid lightskyblue  !important;
  color: white !important;
  background-color: cornflowerblue !important;
  font-size: 1.0em !important;

}
ion-col{
    margin:0 !important;
    padding: 0 !important;
}

.icol :hover , .icol :active , .icol :visited {
    
    color: white !important;
    background-color: cornflowerblue !important;
  }
  .alist {
      border-left: 2px dotted blue !important;
  }
  .ti {
      margin: 6px;
  }
}